.elementor-549 .elementor-element.elementor-element-3364beba:not(.elementor-motion-effects-element-type-background),
.elementor-549 .elementor-element.elementor-element-3364beba>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #02022D;
}

.elementor-549 .elementor-element.elementor-element-3364beba>.elementor-background-overlay {
    background-color: #F2F2F200;
    background-image: url("../../2021/04/network.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.06;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-549 .elementor-element.elementor-element-3364beba {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -86px;
    margin-bottom: 0px;
    padding: 210px 0px 200px 0px;
}

.elementor-549 .elementor-element.elementor-element-3364beba>.elementor-shape-bottom .elementor-shape-fill {
    fill: #020228;
}

.elementor-549 .elementor-element.elementor-element-3364beba>.elementor-shape-bottom svg {
    height: 150px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-549 .elementor-element.elementor-element-72030cc7.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-549 .elementor-element.elementor-element-72030cc7>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-549 .elementor-element.elementor-element-11ddbe72 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-549 .elementor-element.elementor-element-30a8a0ad.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-549 .elementor-element.elementor-element-68079446 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-549 .elementor-element.elementor-element-68079446.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-68079446.elementor-view-framed .elementor-icon,
.elementor-549 .elementor-element.elementor-element-68079446.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-68079446.elementor-view-framed .elementor-icon,
.elementor-549 .elementor-element.elementor-element-68079446.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-68079446 .elementor-icon {
    font-size: 14px;
}

.elementor-549 .elementor-element.elementor-element-68079446 .elementor-icon svg {
    height: 14px;
}

.elementor-549 .elementor-element.elementor-element-68079446 {
    width: auto;
    max-width: auto;
}

.elementor-549 .elementor-element.elementor-element-5fa0366a .elementor-icon-wrapper {
    text-align: left;
}

.elementor-549 .elementor-element.elementor-element-5fa0366a.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-5fa0366a.elementor-view-framed .elementor-icon,
.elementor-549 .elementor-element.elementor-element-5fa0366a.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-5fa0366a.elementor-view-framed .elementor-icon,
.elementor-549 .elementor-element.elementor-element-5fa0366a.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-5fa0366a .elementor-icon {
    font-size: 14px;
}

.elementor-549 .elementor-element.elementor-element-5fa0366a .elementor-icon svg {
    height: 14px;
}

.elementor-549 .elementor-element.elementor-element-5fa0366a>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
}

.elementor-549 .elementor-element.elementor-element-5fa0366a {
    width: auto;
    max-width: auto;
}

.elementor-549 .elementor-element.elementor-element-4460079a .elementor-icon-wrapper {
    text-align: left;
}

.elementor-549 .elementor-element.elementor-element-4460079a.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-4460079a.elementor-view-framed .elementor-icon,
.elementor-549 .elementor-element.elementor-element-4460079a.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-4460079a.elementor-view-framed .elementor-icon,
.elementor-549 .elementor-element.elementor-element-4460079a.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-4460079a .elementor-icon {
    font-size: 14px;
}

.elementor-549 .elementor-element.elementor-element-4460079a .elementor-icon svg {
    height: 14px;
}

.elementor-549 .elementor-element.elementor-element-4460079a>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
}

.elementor-549 .elementor-element.elementor-element-4460079a {
    width: auto;
    max-width: auto;
}

.elementor-549 .elementor-element.elementor-element-1178a99:not(.elementor-motion-effects-element-type-background),
.elementor-549 .elementor-element.elementor-element-1178a99>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-3567886);
}

.elementor-549 .elementor-element.elementor-element-1178a99 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-549 .elementor-element.elementor-element-1178a99>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-549 .elementor-element.elementor-element-1178a99>.elementor-shape-bottom .elementor-shape-fill {
    fill: var(--e-global-color-fb254b4);
}

.elementor-549 .elementor-element.elementor-element-1178a99>.elementor-shape-bottom svg {
    height: 152px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-549 .elementor-element.elementor-element-12eee5ce>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 30px 10px 10px;
}

.elementor-549 .elementor-element.elementor-element-12eee5ce>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-549 .elementor-element.elementor-element-15228cb9 {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-549 .elementor-element.elementor-element-732aff2d:not(.elementor-motion-effects-element-type-background),
.elementor-549 .elementor-element.elementor-element-732aff2d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #010131;
}

.elementor-549 .elementor-element.elementor-element-732aff2d,
.elementor-549 .elementor-element.elementor-element-732aff2d>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-549 .elementor-element.elementor-element-732aff2d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 40px 160px 40px 40px;
}

.elementor-549 .elementor-element.elementor-element-732aff2d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-549 .elementor-element.elementor-element-577bd88a>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-549 .elementor-element.elementor-element-577bd88a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-549 .elementor-element.elementor-element-6797854f .elementor-icon-wrapper {
    text-align: center;
}

.elementor-549 .elementor-element.elementor-element-6797854f.elementor-view-stacked .elementor-icon {
    background-color: #EAEAEA;
}

.elementor-549 .elementor-element.elementor-element-6797854f.elementor-view-framed .elementor-icon,
.elementor-549 .elementor-element.elementor-element-6797854f.elementor-view-default .elementor-icon {
    color: #EAEAEA;
    border-color: #EAEAEA;
}

.elementor-549 .elementor-element.elementor-element-6797854f.elementor-view-framed .elementor-icon,
.elementor-549 .elementor-element.elementor-element-6797854f.elementor-view-default .elementor-icon svg {
    fill: #EAEAEA;
}

.elementor-549 .elementor-element.elementor-element-6797854f .elementor-icon {
    font-size: 66px;
}

.elementor-549 .elementor-element.elementor-element-6797854f .elementor-icon svg {
    height: 66px;
}

.elementor-549 .elementor-element.elementor-element-6797854f {
    width: auto;
    max-width: auto;
    top: 7px;
}

body:not(.rtl) .elementor-549 .elementor-element.elementor-element-6797854f {
    right: -21.759%;
}

body.rtl .elementor-549 .elementor-element.elementor-element-6797854f {
    left: -21.759%;
}

.elementor-549 .elementor-element.elementor-element-5744d432 {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-1bd9cae-font-family), Sans-serif;
    font-size: var(--e-global-typography-1bd9cae-font-size);
    font-weight: var(--e-global-typography-1bd9cae-font-weight);
    font-style: var(--e-global-typography-1bd9cae-font-style);
    line-height: var(--e-global-typography-1bd9cae-line-height);
    letter-spacing: var(--e-global-typography-1bd9cae-letter-spacing);
    word-spacing: var(--e-global-typography-1bd9cae-word-spacing);
}

.elementor-549 .elementor-element.elementor-element-1f1f113a {
    color: #FFFFFF;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-549 .elementor-element.elementor-element-994c50c {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-549 .elementor-element.elementor-element-994c50c>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-549 .elementor-element.elementor-element-2e8c5049 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-549 .elementor-element.elementor-element-2e8c5049 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-549 .elementor-element.elementor-element-2e8c5049 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-549 .elementor-element.elementor-element-2e8c5049 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-549 .elementor-element.elementor-element-2e8c5049 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-549 .elementor-element.elementor-element-2e8c5049 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-549 .elementor-element.elementor-element-2e8c5049 .elementor-icon-list-icon i {
    color: var(--e-global-color-secondary);
    transition: color 0.3s;
}

.elementor-549 .elementor-element.elementor-element-2e8c5049 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-secondary);
    transition: fill 0.3s;
}

.elementor-549 .elementor-element.elementor-element-2e8c5049 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-549 .elementor-element.elementor-element-2e8c5049 .elementor-icon-list-text {
    color: var(--e-global-color-text);
    transition: color 0.3s;
}

.elementor-549 .elementor-element.elementor-element-413d9b07 {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-549 .elementor-element.elementor-element-4bcad456>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-549 .elementor-element.elementor-element-4bcad456 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-549 .elementor-element.elementor-element-6f4f22bb.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-549 .elementor-element.elementor-element-6f4f22bb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-549 .elementor-element.elementor-element-6f4f22bb.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-549 .elementor-element.elementor-element-2be5c660 {
    text-align: left;
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    width: var(--container-widget-width, 16%);
    max-width: 16%;
    --container-widget-width: 16%;
    --container-widget-flex-grow: 0;
}

.elementor-549 .elementor-element.elementor-element-2be5c660>.elementor-widget-container {
    margin: 0px 5px 0px 0px;
}

.elementor-bc-flex-widget .elementor-549 .elementor-element.elementor-element-3f1e4e8d.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-549 .elementor-element.elementor-element-3f1e4e8d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-549 .elementor-element.elementor-element-3f1e4e8d.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-549 .elementor-element.elementor-element-11f8180b {
    text-align: right;
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    width: auto;
    max-width: auto;
}

.elementor-549 .elementor-element.elementor-element-11f8180b>.elementor-widget-container {
    margin: 0px 5px 0px 0px;
}

.elementor-549 .elementor-element.elementor-element-652d1e18 .ekit_socialshare {
    text-align: right;
}

.elementor-549 .elementor-element.elementor-element-652d1e18 .elementor-repeater-item-55182b1>a {
    color: #FFFFFF;
    background-color: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-652d1e18 .elementor-repeater-item-55182b1>a svg path {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-549 .elementor-element.elementor-element-652d1e18 .elementor-repeater-item-41a7dc5>a {
    color: #FFFFFF;
    background-color: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-652d1e18 .elementor-repeater-item-41a7dc5>a svg path {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-549 .elementor-element.elementor-element-652d1e18 .elementor-repeater-item-6f905cb>a {
    color: #FFFFFF;
    background-color: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-652d1e18 .elementor-repeater-item-6f905cb>a svg path {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-549 .elementor-element.elementor-element-652d1e18 .ekit_socialshare>li>a {
    text-align: center;
    text-decoration: none;
    border-radius: 50% 50% 50% 50%;
    width: 40px;
    height: 40px;
    line-height: 30px;
}

.elementor-549 .elementor-element.elementor-element-652d1e18 .ekit_socialshare>li {
    display: inline-block;
    margin: 8px 8px 8px 8px;
}

.elementor-549 .elementor-element.elementor-element-652d1e18 .ekit_socialshare>li>a i {
    font-size: 16px;
}

.elementor-549 .elementor-element.elementor-element-652d1e18 .ekit_socialshare>li>a svg {
    max-width: 16px;
}

.elementor-549 .elementor-element.elementor-element-652d1e18 {
    width: auto;
    max-width: auto;
}

.elementor-549 .elementor-element.elementor-element-7385ded7 {
    --divider-border-style: solid;
    --divider-color: #FFFFFF1C;
    --divider-border-width: 1px;
}

.elementor-549 .elementor-element.elementor-element-7385ded7 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin: 0;
}

.elementor-549 .elementor-element.elementor-element-7385ded7 .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-549 .elementor-element.elementor-element-7385ded7>.elementor-widget-container {
    margin: 40px 0px 10px 0px;
}

.elementor-549 .elementor-element.elementor-element-71073584>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 10px 40px 40px;
}

.elementor-549 .elementor-element.elementor-element-71073584>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-549 .elementor-element.elementor-element-5df20010,
.elementor-549 .elementor-element.elementor-element-5df20010>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-549 .elementor-element.elementor-element-5df20010 {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-549 .elementor-element.elementor-element-2c1fe858:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-549 .elementor-element.elementor-element-2c1fe858>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #040436;
}

.elementor-549 .elementor-element.elementor-element-2c1fe858>.elementor-element-populated,
.elementor-549 .elementor-element.elementor-element-2c1fe858>.elementor-element-populated>.elementor-background-overlay,
.elementor-549 .elementor-element.elementor-element-2c1fe858>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-549 .elementor-element.elementor-element-2c1fe858>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 40px 40px 40px;
}

.elementor-549 .elementor-element.elementor-element-2c1fe858>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-549 .elementor-element.elementor-element-43a04d9c .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-38ecccc-font-family), Sans-serif;
    font-size: var(--e-global-typography-38ecccc-font-size);
    font-weight: var(--e-global-typography-38ecccc-font-weight);
    line-height: var(--e-global-typography-38ecccc-line-height);
    letter-spacing: var(--e-global-typography-38ecccc-letter-spacing);
    word-spacing: var(--e-global-typography-38ecccc-word-spacing);
}

.elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist.layout-horizontal .jkit-posts {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-column-gap: 0px;
}

.elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article {
    text-align: left;
}

.elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article a {
    margin: 0px 0px 20px 0px;
}

.elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article a .jkit-postlist-title {
    text-align: left;
    color: var(--e-global-color-primary);
    padding: 0px 0px 5px 0px;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article:hover a .jkit-postlist-title {
    color: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article a .meta-lists {
    text-align: left;
}

.elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article a .meta-lists span {
    font-family: var(--e-global-typography-5159f61-font-family), Sans-serif;
    font-size: var(--e-global-typography-5159f61-font-size);
    font-weight: var(--e-global-typography-5159f61-font-weight);
    text-transform: var(--e-global-typography-5159f61-text-transform);
    line-height: var(--e-global-typography-5159f61-line-height);
    letter-spacing: var(--e-global-typography-5159f61-letter-spacing);
    word-spacing: var(--e-global-typography-5159f61-word-spacing);
    color: var(--e-global-color-text);
}

.elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article a .meta-lists span i {
    font-size: 12px;
}

.elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article a .meta-lists span svg {
    width: 12px;
    fill: var(--e-global-color-text);
}

.elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article a .meta-lists span i,
.elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article a .meta-lists span svg {
    margin-right: 5px;
}

.elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postblock .jeg_empty_module {
    text-align: left;
}

.elementor-549 .elementor-element.elementor-element-7e1fcce2:not(.elementor-motion-effects-element-type-background),
.elementor-549 .elementor-element.elementor-element-7e1fcce2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2021/04/professional-developer-programmer-cooperation-meeting-and-brainstorming-and-programming-in-website-e16177695182");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-549 .elementor-element.elementor-element-7e1fcce2>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.9;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-549 .elementor-element.elementor-element-7e1fcce2,
.elementor-549 .elementor-element.elementor-element-7e1fcce2>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-549 .elementor-element.elementor-element-7e1fcce2 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 40px 40px 40px 40px;
}

.elementor-549 .elementor-element.elementor-element-12cf40f5 .elementor-heading-title {
    color: #FFFFFF;
    font-family: var(--e-global-typography-38ecccc-font-family), Sans-serif;
    font-size: var(--e-global-typography-38ecccc-font-size);
    font-weight: var(--e-global-typography-38ecccc-font-weight);
    line-height: var(--e-global-typography-38ecccc-line-height);
    letter-spacing: var(--e-global-typography-38ecccc-letter-spacing);
    word-spacing: var(--e-global-typography-38ecccc-word-spacing);
}

.elementor-549 .elementor-element.elementor-element-338a7aaa {
    color: #FFFFFF;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-icon i {
    color: var(--e-global-color-secondary);
    transition: color 0.3s;
}

.elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-icon svg {
    fill: var(--e-global-color-secondary);
    transition: fill 0.3s;
}

.elementor-549 .elementor-element.elementor-element-67e9707d {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-icon {
    padding-right: 8px;
}

.elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-549 .elementor-element.elementor-element-6f138d14,
.elementor-549 .elementor-element.elementor-element-6f138d14>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-549 .elementor-element.elementor-element-6f138d14 {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 0px;
}

.elementor-549 .elementor-element.elementor-element-40eedc63:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-549 .elementor-element.elementor-element-40eedc63>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #040436;
}

.elementor-549 .elementor-element.elementor-element-40eedc63>.elementor-element-populated,
.elementor-549 .elementor-element.elementor-element-40eedc63>.elementor-element-populated>.elementor-background-overlay,
.elementor-549 .elementor-element.elementor-element-40eedc63>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-549 .elementor-element.elementor-element-40eedc63>.elementor-element-populated {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 40px 40px 40px;
}

.elementor-549 .elementor-element.elementor-element-40eedc63>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-549 .elementor-element.elementor-element-551dc9b .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-38ecccc-font-family), Sans-serif;
    font-size: var(--e-global-typography-38ecccc-font-size);
    font-weight: var(--e-global-typography-38ecccc-font-weight);
    line-height: var(--e-global-typography-38ecccc-line-height);
    letter-spacing: var(--e-global-typography-38ecccc-letter-spacing);
    word-spacing: var(--e-global-typography-38ecccc-word-spacing);
}

.elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist {
    text-align: left;
}

.elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist.layout-horizontal .category-list-item {
    margin-right: calc(40px/2);
    margin-left: calc(40px/2);
}

.elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist.layout-vertical .category-list-item:not(:last-child) {
    padding-bottom: calc(40px/2);
}

.elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist .category-list-item .jkit-categorylist-content {
    color: var(--e-global-color-primary);
}

.elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist .category-list-item:hover .jkit-categorylist-content {
    color: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist .category-list-item>a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list i {
    color: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list svg {
    fill: var(--e-global-color-secondary);
}

.elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list i,
.elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list svg {
    margin-right: 25px;
}

@media(max-width:1024px) {
    .elementor-549 .elementor-element.elementor-element-3364beba>.elementor-shape-bottom svg {
        height: 110px;
    }

    .elementor-549 .elementor-element.elementor-element-3364beba {
        margin-top: -94px;
        margin-bottom: 0px;
        padding: 160px 0px 150px 0px;
    }

    .elementor-549 .elementor-element.elementor-element-1178a99 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-549 .elementor-element.elementor-element-12eee5ce>.elementor-element-populated {
        padding: 0px 10px 0px 10px;
    }

    .elementor-549 .elementor-element.elementor-element-15228cb9 {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-732aff2d {
        padding: 40px 120px 40px 40px;
    }

    body:not(.rtl) .elementor-549 .elementor-element.elementor-element-6797854f {
        right: -15.477%;
    }

    body.rtl .elementor-549 .elementor-element.elementor-element-6797854f {
        left: -15.477%;
    }

    .elementor-549 .elementor-element.elementor-element-6797854f {
        top: -12.972px;
    }

    .elementor-549 .elementor-element.elementor-element-5744d432 {
        font-size: var(--e-global-typography-1bd9cae-font-size);
        line-height: var(--e-global-typography-1bd9cae-line-height);
        letter-spacing: var(--e-global-typography-1bd9cae-letter-spacing);
        word-spacing: var(--e-global-typography-1bd9cae-word-spacing);
    }

    .elementor-549 .elementor-element.elementor-element-1f1f113a {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-994c50c {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-413d9b07 {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-2be5c660 {
        font-size: var(--e-global-typography-text-font-size);
        width: initial;
        max-width: initial;
    }

    .elementor-549 .elementor-element.elementor-element-3f1e4e8d.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }

    .elementor-549 .elementor-element.elementor-element-11f8180b {
        font-size: var(--e-global-typography-text-font-size);
        width: var(--container-widget-width, 40%);
        max-width: 40%;
        --container-widget-width: 40%;
        --container-widget-flex-grow: 0;
    }

    .elementor-549 .elementor-element.elementor-element-652d1e18 {
        width: var(--container-widget-width, 60%);
        max-width: 60%;
        --container-widget-width: 60%;
        --container-widget-flex-grow: 0;
    }

    .elementor-549 .elementor-element.elementor-element-71073584>.elementor-element-populated {
        margin: 60px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 10px 0px 10px;
    }

    .elementor-549 .elementor-element.elementor-element-43a04d9c .elementor-heading-title {
        font-size: var(--e-global-typography-38ecccc-font-size);
        line-height: var(--e-global-typography-38ecccc-line-height);
        letter-spacing: var(--e-global-typography-38ecccc-letter-spacing);
        word-spacing: var(--e-global-typography-38ecccc-word-spacing);
    }

    .elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article a .jkit-postlist-title {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article a .meta-lists span {
        font-size: var(--e-global-typography-5159f61-font-size);
        line-height: var(--e-global-typography-5159f61-line-height);
        letter-spacing: var(--e-global-typography-5159f61-letter-spacing);
        word-spacing: var(--e-global-typography-5159f61-word-spacing);
    }

    .elementor-549 .elementor-element.elementor-element-12cf40f5 .elementor-heading-title {
        font-size: var(--e-global-typography-38ecccc-font-size);
        line-height: var(--e-global-typography-38ecccc-line-height);
        letter-spacing: var(--e-global-typography-38ecccc-letter-spacing);
        word-spacing: var(--e-global-typography-38ecccc-word-spacing);
    }

    .elementor-549 .elementor-element.elementor-element-338a7aaa {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-551dc9b .elementor-heading-title {
        font-size: var(--e-global-typography-38ecccc-font-size);
        line-height: var(--e-global-typography-38ecccc-line-height);
        letter-spacing: var(--e-global-typography-38ecccc-letter-spacing);
        word-spacing: var(--e-global-typography-38ecccc-word-spacing);
    }

    .elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist .category-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list i,
    .elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list svg {
        margin-right: 15px;
    }
}

@media(max-width:767px) {
    .elementor-549 .elementor-element.elementor-element-3364beba>.elementor-shape-bottom svg {
        height: 60px;
    }

    .elementor-549 .elementor-element.elementor-element-3364beba {
        padding: 160px 0px 120px 0px;
    }

    .elementor-549 .elementor-element.elementor-element-72030cc7>.elementor-element-populated {
        padding: 0px 10px 0px 10px;
    }

    .elementor-549 .elementor-element.elementor-element-1178a99 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-549 .elementor-element.elementor-element-15228cb9 {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-732aff2d {
        padding: 20px 20px 20px 20px;
    }

    body:not(.rtl) .elementor-549 .elementor-element.elementor-element-6797854f {
        right: -0.486px;
    }

    body.rtl .elementor-549 .elementor-element.elementor-element-6797854f {
        left: -0.486px;
    }

    .elementor-549 .elementor-element.elementor-element-6797854f {
        top: -73.994px;
    }

    .elementor-549 .elementor-element.elementor-element-5744d432 {
        font-size: var(--e-global-typography-1bd9cae-font-size);
        line-height: var(--e-global-typography-1bd9cae-line-height);
        letter-spacing: var(--e-global-typography-1bd9cae-letter-spacing);
        word-spacing: var(--e-global-typography-1bd9cae-word-spacing);
    }

    .elementor-549 .elementor-element.elementor-element-1f1f113a {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-994c50c {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-413d9b07 {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-4bcad456 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-549 .elementor-element.elementor-element-2be5c660 {
        text-align: left;
        font-size: var(--e-global-typography-text-font-size);
        width: var(--container-widget-width, 35%);
        max-width: 35%;
        --container-widget-width: 35%;
        --container-widget-flex-grow: 0;
    }

    .elementor-bc-flex-widget .elementor-549 .elementor-element.elementor-element-3f1e4e8d.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-549 .elementor-element.elementor-element-3f1e4e8d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-549 .elementor-element.elementor-element-3f1e4e8d.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-549 .elementor-element.elementor-element-3f1e4e8d>.elementor-element-populated {
        margin: 10px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-549 .elementor-element.elementor-element-11f8180b {
        text-align: left;
        font-size: var(--e-global-typography-text-font-size);
        width: var(--container-widget-width, 30%);
        max-width: 30%;
        --container-widget-width: 30%;
        --container-widget-flex-grow: 0;
    }

    .elementor-549 .elementor-element.elementor-element-652d1e18 .ekit_socialshare {
        text-align: right;
    }

    .elementor-549 .elementor-element.elementor-element-652d1e18 .ekit_socialshare>li>a {
        width: 32px;
        height: 32px;
        line-height: 26px;
    }

    .elementor-549 .elementor-element.elementor-element-652d1e18 .ekit_socialshare>li>a i {
        font-size: 14px;
    }

    .elementor-549 .elementor-element.elementor-element-652d1e18 .ekit_socialshare>li>a svg {
        max-width: 14px;
    }

    .elementor-549 .elementor-element.elementor-element-652d1e18 {
        width: var(--container-widget-width, 65%);
        max-width: 65%;
        --container-widget-width: 65%;
        --container-widget-flex-grow: 0;
    }

    .elementor-549 .elementor-element.elementor-element-7385ded7>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-549 .elementor-element.elementor-element-71073584>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-549 .elementor-element.elementor-element-5df20010 {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .elementor-549 .elementor-element.elementor-element-2c1fe858>.elementor-element-populated {
        padding: 30px 30px 30px 30px;
    }

    .elementor-549 .elementor-element.elementor-element-43a04d9c .elementor-heading-title {
        font-size: var(--e-global-typography-38ecccc-font-size);
        line-height: var(--e-global-typography-38ecccc-line-height);
        letter-spacing: var(--e-global-typography-38ecccc-letter-spacing);
        word-spacing: var(--e-global-typography-38ecccc-word-spacing);
    }

    .elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article {
        text-align: left;
    }

    .elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article a .jkit-postlist-title {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-51e3c687 .jeg-elementor-kit.jkit-postlist article a .meta-lists span {
        font-size: var(--e-global-typography-5159f61-font-size);
        line-height: var(--e-global-typography-5159f61-line-height);
        letter-spacing: var(--e-global-typography-5159f61-letter-spacing);
        word-spacing: var(--e-global-typography-5159f61-word-spacing);
    }

    .elementor-549 .elementor-element.elementor-element-7e1fcce2 {
        margin-top: 20px;
        margin-bottom: 0px;
        padding: 30px 30px 30px 30px;
    }

    .elementor-549 .elementor-element.elementor-element-12cf40f5 .elementor-heading-title {
        font-size: var(--e-global-typography-38ecccc-font-size);
        line-height: var(--e-global-typography-38ecccc-line-height);
        letter-spacing: var(--e-global-typography-38ecccc-letter-spacing);
        word-spacing: var(--e-global-typography-38ecccc-word-spacing);
    }

    .elementor-549 .elementor-element.elementor-element-338a7aaa {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-549 .elementor-element.elementor-element-67e9707d .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-549 .elementor-element.elementor-element-6f138d14 {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .elementor-549 .elementor-element.elementor-element-40eedc63>.elementor-element-populated {
        padding: 30px 30px 30px 30px;
    }

    .elementor-549 .elementor-element.elementor-element-551dc9b .elementor-heading-title {
        font-size: var(--e-global-typography-38ecccc-font-size);
        line-height: var(--e-global-typography-38ecccc-line-height);
        letter-spacing: var(--e-global-typography-38ecccc-letter-spacing);
        word-spacing: var(--e-global-typography-38ecccc-word-spacing);
    }

    .elementor-549 .elementor-element.elementor-element-4f03b870 .jeg-elementor-kit.jkit-categorylist .category-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
    }
}

@media(min-width:768px) {
    .elementor-549 .elementor-element.elementor-element-12eee5ce {
        width: 65%;
    }

    .elementor-549 .elementor-element.elementor-element-6f4f22bb {
        width: 47.571%;
    }

    .elementor-549 .elementor-element.elementor-element-3f1e4e8d {
        width: 52.429%;
    }

    .elementor-549 .elementor-element.elementor-element-71073584 {
        width: 35%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-549 .elementor-element.elementor-element-12eee5ce {
        width: 100%;
    }

    .elementor-549 .elementor-element.elementor-element-6f4f22bb {
        width: 40%;
    }

    .elementor-549 .elementor-element.elementor-element-3f1e4e8d {
        width: 60%;
    }

    .elementor-549 .elementor-element.elementor-element-71073584 {
        width: 100%;
    }
}